<!doctype html>
<html>
  <head>
    <title>Confirmation page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please confirm your registration by logging in</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{request.form.username }}" required>
         <input type="password" placeholder="Password" name="password" value="{{request.form.password }}" required>
        <input class="btn btn-default" type="submit" value="Login">
      </form>
	  <br>
	  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

