<!DOCTYPE html>
<html>
  <head>
    <title>Page 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Page 2, for all users</h2>
      <br>
	  <p>Click <a href="/page1">here</a> to go to page 1 (users).</p>
	  <br>
	  <p>Click <a href="/page3">here</a> to go to page 3 (admin).</p>
	  <br>
	  <p>Click <a href="/page4">here</a> to go to page 4 (admin).</p>
	  <br>
      <p>Click <a href="/splash">here</a> to go home.</p>
	  <br>
      <p>Click <a href="/logout">here</a> to go log out.</p>
    </div>
  </body>
</html>